* {box-sizing:border-box;}

body {
	font-family: 'Oxygen', sans-serif;
}
h1 {color: green;}

.firstImage {width:100%;}


#main {
  background-color: #fff;
  position: relative;
  z-index: 1001;
}
.nav {
	text-align: center;

}
.nav li {
	display:inline;
}

.nav a {
	display: inline-block;
	padding: 2%;
}
ul {
    padding-left: 0;
  margin: 0 auto;
  overflow: hidden;
}
ul li {
  
  list-style: none;
  margin: .5em .5em .5em 0;
  padding: .5em .5em .5em 0;
  font-size: 1.5em;
}
ul li a {
  text-decoration: none;
  color: #000;
}
ul li a:hover {
  color: #E0461B;
  transition: color 400ms ease-out;
}
#stickyContent {
position: fixed;
top: 8px;
left: 8px;
right: 8px;
z-index: 1000;
background-color: #000;
height:8%;
}
#stickyContent ul li {
font-size: 1.5em;
}
#stickyContent ul a {
color: #fff;
}
#slide1, #slide2{ width: 100%; }
#slide1{
	background:url('../images/guy-lg.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
}

#slide2{
	background-color: #fff;
	color: #333333;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
}

#slide3{
	background: url('../images/girl-guitar-lg.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	padding: 170px 0 0 0;	
	background-size: cover;
}

#slide4{
	background-color: #fff;
	color: #333333;
	padding: 7% 0;
}

#slide5{
	background: url('../images/downtown.jpg') 50% 0 no-repeat fixed;
	height: 200px;
	margin: 0 auto;
	padding: 250px 0;
	color: #fff;
	background-size: cover;
}

footer img {width:100%;height:auto;}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flex-item img {
	max-width: 280px;
}
